:root{
    --color-shadow-text:#1B1B15;
    --color-black-card:rgb(0, 0, 0);
    --color-primary:#ca1111;
    --color-text-white: #ccc;
}

html{
    font-size: 10px;
    overflow-x: hidden;
}


body{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-family: 'NotoSans', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color:var(--color-text-body);
}


.header{
    /* border: 1px solid black; */
   background: url(images/bg-2.png) no-repeat ;
   background-size: cover;
   height: 70rem;
}

.menu_container{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;    
}

.menu_logo a{
    color: var(--color-primary);
    font-weight: bold;
    font-size: 2rem
}

.menu_navbar_list{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.menu_navbar_list a{
    color: var(--color-text-white);
}

.header-content{
    padding:5rem 10rem;
    color: var(--color-text-white);
}

.header-txt{
    width: 50%;
    text-align: center;
    margin: 0 auto;

}

.header-txt h1{
    font-size: 10rem;
    font-weight: bold;
    color: var(--color-primary);
}
.header-txt span {
    font-size: 2rem;
    color: var(--color-primary);
}

.header-txt p{
    margin-top: 2rem;
    margin-bottom: 2rem;
   
}

.header_btn, .services_btn-1, .prices_btn ,.personal_btn{
    width: 15rem;
    padding: 1rem;
    background: var(--color-primary);
    color: var(--color-text-white);
    margin: 0 auto;
    font-weight: bold;
}

.header-dir{
    margin-top: 8rem;
    display: flex;
    justify-content: space-around;
}

.dir h3{
    color: var(--color-primary);
}

.welcome{
    display: flex;
    flex-direction: row;
    
}

.welcome-1{
    width: 40%;
    height: 65rem;
    overflow: hidden;
}
.welcome-2{
    padding: 10rem;
    background-color: var(--color-shadow-text);
}

.welcome2_content{
    text-align: left;
    width: 60%;
}

.welcome-1 img{
    width: 100%;
    height: 100%;
}

.welcome-2 h2{
    color:var(--color-text-white);
    font-size: 8rem;
    line-height: 8rem;
}

.welcome2_b1{
    color: var(--color-primary);
    margin: 2rem 0;
}

.welcome2_p2{
    color: var(--color-text-white);
    margin-bottom: 3rem;
}

.welcome2_btn{
    padding: 2rem;
    background-color: var(--color-primary);
    color: var(--color-text-white);
    font-weight: bold;
    width: 13rem;
}


.services_container{
    /* color de fondo y el padding */
    background-color: var(--color-shadow-text);
    padding: 8rem;
    text-align: center;
}

.services-txt h2{
    font-size: 8rem;
    color: var(--color-text-white);
}

.services-txt hr{
    margin: 0 auto;
    width: 5%;
    color: var(--color-primary);
}

.services-txt > p {
    width: 60%;
    margin: 0 auto;
    margin-top: 4rem;
    color: var(--color-text-white);
}

.services-group{
    margin-top: 7rem;
    display: flex;
    gap: 15rem;
    margin-bottom: 7rem;
}

.services-1{
    background-color: var(--color-black-card);
    padding: 5rem;
    border-radius: 1rem;
    transition: all 300ms ease-in;
}

.services-1 img{
    margin: 0 auto;
}

.services-1 h3,p{
    color: var(--color-text-white);
}

.services-1 h3{
    font-size: 3rem;
}

.services-1:hover{
    background-color: #ccc;
}

.services-1 p {
    margin: 2rem 0;
}


.services-1 a{
    color: var(--color-primary);
}


.prices{
    background-color: var(--color-black-card);   
    text-align: center;
    color: var(--color-text-white) ;
    padding: 8rem;
}

.prices-1 p{
    margin: 4rem;
}

.prices table{
    width: 70%;
    margin: 0 auto;
    margin-top: 8rem;
}


.border{
    height:10rem;
    border:1px solid white;
}
table{
    border-collapse: collapse;  
}

table th,td{
    border-bottom: 1px solid white;
    padding: 1rem 0rem;
}

td{
    color: var(--color-primary);
}

.prices_btn{
    margin-top: 10rem;
}
.personal_container{
    text-align: center; 
    padding:8rem;
    background-color: var(--color-shadow-text);
}

.personal-txt{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10rem;
}

.personal-txt h2 {
    font-size: 8rem;
    color: var(--color-text-white);
}

.personal-txt hr{
    margin: 0 auto;
    margin-bottom: 4rem;
    width: 5%;
    color: var(--color-primary);
}

.personal-group{
    display: flex;
    margin-bottom: 5rem;
}


.persona-1{
    border-radius: 15px;
    overflow: hidden;
}

.persona-1 h3{
    color: var(--color-primary);
    font-size: 2.3rem;
    margin-top: 2rem;
}

.persona-1 p{
    margin: 1rem 0;
}

footer{
    padding: 8rem;
    text-align: center;
    background-image: url('images/bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-text-white);
}

footer h2{
    font-size: 8rem;
}

.footer-bg{
    display: flex;
    justify-content: center;
}

.footer-bg form{
    margin-top: 8rem;
    width: 40%;
 
}

.footer-bg input, textarea{
    width: 100%;
    margin: 2rem 0;
    border: 2px solid var(--color-primary);
    padding: 2rem;
    border-radius: 1rem;
}

.footer-bg input[type='submit']{
    border: none;
    background-color: #ca1111;
    cursor: pointer;
}






